$main-color: #08fdd8;
$secondary-color: #da2654;
$tertiary-color: orange;
$main-background: #1d1d1d;
$secondary-background: #181818;
$logo-background: #000;
$main-text-color: #ffffff;
$secondary-text-color: #909096;
$tertiary-text-color: #7b7b80;
